@import'./mixin.scss';

.getStartedPanel{
    @include clipCureve;
    @include bColor;
    padding: 160px 0 200px;
    .block_heading{
        margin-bottom: 50px;
        h2{
            margin-bottom: 15px;
        }
        p{
            margin: 0;
        }
    }
}