.nav-link{
    color: red !important;
}.nav-link{
    color: red !important;
}.nav-link{
    color: red !important;
}.nav-link{
    color: red !important;
}.nav-link{
    color: red !important;
}.nav-link{
    color: red !important;
}.nav-link{
    color: red !important;
}