@import './variable.scss';

@mixin headingProp($hColor){
    font-family: $rs;
    margin-bottom: $mhb;
    font-weight: $hfw;
    color: $hColor;
    font-size: $headingSize;
}

@mixin bColor{
    background: $base_color;
}