// Common Componets
$rs: 'Roboto Slab', serif;
$rub: 'Rubik', sans-serif;
$white: #fff;
$base_color: #0E92D4;
$dark_color: #252525;

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.our_dev_area{
    background: $base_color;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    padding: 150px 0;
    .dev_title{
      margin-bottom: 50px;
      h1{
        font-size: 40px;
        font-family: $rs;
        line-height: 1.4;
        font-weight: 400;
        margin: 0 0 30px;
      }
    }
    .plan_box{
      background: $white;
      padding: 40px 25px;
      height: 100%;
      border-radius: 8px;
    }
}