// Common Componets
$rs: 'Roboto Slab', serif;
$rub: 'Rubik', sans-serif;
$white: #fff;
$base_color: #0E92D4;

.service_component{
    padding: 100px 0;
    .top_dev{
        max-width: 90%;
        h1{
            color: #014e72;
            font-size: 40px;
            font-weight: 400;
            font-family: $rs;
            margin-bottom: 40px;
        }
        a{
            text-decoration: none;
            color: $base_color;
        }
    }
}