@import'../../commonStyle/mixin.scss';

  
.top_nav{
    nav{
        background: $base_color;
        padding: 10px 15px;
        position: sticky;
        top: 0;
        z-index: 1;
        .nav-item{
            .nav-link{
                color: $white;
                text-size-adjust: 100%;
                font:400 16px $rub;
                &:after{
                    position: absolute;
                    font-family: 'Material Icons';
                    content: "\e5cf";
                    border: 0;
                }
            }
            &:last-child{
                .nav-link, .dropdown-toggle{
                    &:after{
                        position: inherit;
                        font-family: inherit;
                        content: "";
                        border: 0;
                    }
                }
            }
            + .nav-item{
                margin-left: 10px;
            }
        }
        .nav-item:not(.nav-item.dropdown){
            .nav-link{
                &:after{
                    position: inherit;
                    font-family: inherit;
                    content: "";
                    border: 0;
                }
            }
        } 
    }
    
}