@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

// Common Variable
@import './commonComponents/commonStyle/mixin.scss';



:root{
    font-size: 16px;
}
ul, li{
    list-style: none;
}
p{
    font-size: 18px;
}
img{
    max-width: 100%;
}

.block_heading{
    h1, h2 {
        @include headingProp(#014272);
    }
}