@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

// Import Css
@import url(./commonComponents/commonStyle/Header.scss);
@import url(./commonComponents/commonStyle/Banner.scss);
@import url(./commonComponents/commonStyle/Services.scss);
@import url(./commonComponents/commonStyle/Hire.scss);
@import url(./commonComponents/commonStyle/Tech.scss);

$rs: 'Roboto Slab', serif;

:root{
    font-size: 16px;
}
ul, li{
    list-style: none;
}
p{
    font-size: 18px;
}
img{
    max-width: 100%;
}
.block_heading{
    h1 {
        font-family: $rs;
        color: #014e72;
        font-size: 40px;
        margin-bottom: 35px;
        font-weight: 400;
    }
    h2 {
        font-family: $rs;
        color: #014e72;
        font-size: 40px;
        margin-bottom: 35px;
        font-weight: 400;
    }
}